In [1]:
#len function

name = print('Python')
name

Python

In [2]:
name = print(len('Python'))
name

6

In [3]:
print(len(123456))

TypeError: object of type 'int' has no len()

## Types of data

1. String - "Python" or 'Python' or '12345' 0r '@sjf$%^'
2. Integer - 1 or 123456 or 15789654236 
3. Float - 0.256 or 1.256 or 25648.3654789
4. Boolean - True or False or 1 or 0

In [4]:
#string data type
print('Hello Wolrd!')

Hello Wolrd!

In [5]:
print("Hello Wolrd!")

Hello Wolrd!

In [14]:
print('Hello Wolrd'[-5])

W

In [15]:
print('123456')

123456

## Integer

- numbers without any decimal numbers

In [16]:
print(123456)

123456

In [17]:
print(123 + 456)

579

In [18]:
print(123 / 456)

0.26973684210526316

In [19]:
342,654,896

(342, 654, 896)

In [20]:
print(342,654,896)

342 654 896

In [21]:
342_654_896

342654896

## Floating

- numbers with decimal numbers

In [23]:
print(1423.4569)

1423.4569

In [24]:
print(3.1456789)

3.1456789

## Boolean

In [25]:
True

True

In [26]:
False

False

In [27]:
true

NameError: name 'true' is not defined

### QUIZ

which statement is incorrect?
1. 932 is an integer
2. 'False' is an boolean data
3. 857.22 is a float data
4. "523" is a string data

What is the data type of the mystery variable?
mystery = 734_529.235
1. integer
2. string
3. float
4. quartile

In [28]:
734_529.235

734529.235

i have put a spell on you. you are now a computer. if i give you the following code, what will you print?
street_name = 'Anna Nagar'
print(street_name[2] + street_name[5])

In [29]:
street_name = 'Anna Nagar'
print(street_name[2] + street_name[5])

nN

In [32]:
street_name = 'Anna Nagar'
street_name[5]

'N'

In [33]:
print('Python')

Python

In [34]:
print(len('Python'))

6

In [35]:
print(123_456_789)

123456789

In [36]:
print(len(123_456_789))

TypeError: object of type 'int' has no len()

In [37]:
print(len(False))

TypeError: object of type 'bool' has no len()

In [38]:
print(len(123_456_78.254))

TypeError: object of type 'float' has no len()

In [39]:
## Quiz

In [40]:
num_char = len(input('what is your name?'))
print('Your name has' + num_char + 'characters!')

what is your name?Ram

TypeError: can only concatenate str (not "int") to str

## type()

In [41]:
name = 'Premanand'
type(name)

str

In [42]:
age = 47
type(age)

int

In [43]:
value = 3.1458
type(value)

float

In [44]:
decision = True
type(decision)

bool

In [46]:
num_char = len(input('what is your name?'))
type(num_char)

what is your name?Premanand

int

In [47]:
print(num_char)

9

## Type conversion

In [50]:
num_char = len(input('what is your name?'))
new_num_char = str(num_char)
print('Your name has ' + new_num_char  + ' characters!')

what is your name?RAM
Your name has 3 characters!

In [51]:
type(new_num_char)

str

In [52]:
age = 47
age

47

In [53]:
type(age)

int

In [54]:
str(age)

'47'

In [55]:
type(str(age))

str

In [56]:
year = '2024'
year1 = str(year)
year1

'2024'

In [57]:
type(year1)

str

In [58]:
day = 'thursday'
day1 = int(day)
day1

ValueError: invalid literal for int() with base 10: 'thursday'

In [59]:
date = '23'
date1 = int(date)
date1

23

In [60]:
time = 15.26
time1 = int(time)
time1

15

In [61]:
time = '23'
time1 = float(time)
time1

23.0

In [62]:
ti = 'date'
ti1 = float(ti)
ti1

ValueError: could not convert string to float: 'date'

In [63]:
print(str(75) + str(84))

7584

In [64]:
str(75)

'75'

In [65]:
str(84)

'84'

In [66]:
print(int(75) + int(84))

159

In [67]:
print(int(75) + float(84))

159.0

In [68]:
print(str('hi') + str('hru?'))

hihru?

## problem statement

write a program that adds the digits in  a 2 digit number.
1. Ex: if the input was 35, then the output should be 8(3+5)
2. Ex: if the input was 3545, then the output should be 8(3+5)
3. Ex: if the input was 354554545, then the output should be 8(3+5)
4. Ex: if the input was 354, then the output should be 8(3+5)

In [80]:
two_digit_number = input('share the number to add: ')
print(type(two_digit_number))

first_digit = int(two_digit_number[0])
second_digit = int(two_digit_number[1])

two_digit_number = first_digit + second_digit
print(two_digit_number)

share the number to add: 354554545
<class 'str'>
8

In [74]:
two_digit_number = input('share the number to add: ')

share the number to add: 35

In [75]:
print(type(two_digit_number))

<class 'str'>

In [76]:
first_digit = int(two_digit_number[0])
first_digit

3

In [77]:
second_digit = int(two_digit_number[1])
second_digit

5